<!DOCTYPE html>
<html>
<head>
    <title>Add to Cart!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cart.css') }}">
</head>
<body>
    <div class="container">
        <h1>Add to cart!</h1>
        <h4>Apple: $5</h4>
        <h4>Banana: $10</h4>
        <h4>Cucumber: $5000</h4>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.item.label }}<br>
                {{ form.item(size=20) }}
            </p>
            <p>
                {{ form.amount.label }}<br>
                {{ form.amount(size=20) }}
            </p>
            <div>
                {{ form.submit() }}
                <a href="/" class="btn">Apply Coupon</a>
                <a href="/checkout" class="btn">Checkout</a>
                <a href="/logout" class="btn">Logout</a>
            </div>
        </form>
        <h3>Total: ${{ totalCost }}</h3>
    </div>
</body>
</html>
