<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Login</title>
</head>
<body class="container">
    <div class="login">
        <h1>Login</h1>
        <% if (messages.error) { %>
            <% messages.error %>
        <% } %>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
            <button type="button" onclick="window.location.href = '/register';">Register Now</button>
        </form>

    </div>
</body>
</html>
